<!-- 測試：使用mixin & include在相同layout下的不同主題做統一的設定。 -->
<!-- 注意！不同的設定可以利用傳入變數的方式來調整 -->

<!-- 
比較：header-navbar, footer-navbar:
不同:
- 字體大小 header 20, footer 16
- 間距：header 64 , footer 48
相同:
- d-flex

-->
<!-- nav bar -->
<div class="d-flex bg-primary">
  <div class="container">
    <nav class="header-navbar">
      <ul class="list d-flex text-white">
        <li class="list-item"><a href="#">系列鏡框</a></li>
        <li class="list-item"><a href="#">門市據點</a></li>
        <li class="list-item"><a href="#">部落格</a></li>
        <li class="list-item"><a href="#">常見問題</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="d-flex bg-primary">
  <div class="container">
    <nav class="footer-navbar">
      <ul class="list d-flex text-white">
        <li class="list-item"><a href="#">系列鏡框</a></li>
        <li class="list-item"><a href="#">門市據點</a></li>
        <li class="list-item"><a href="#">部落格</a></li>
        <li class="list-item"><a href="#">常見問題</a></li>
      </ul>
    </nav>
  </div>
</div>
