// display
.d{
  &-flex{
    display: flex;
  }
}

// flex
.justify-content{
  &-between{
    justify-content: space-between;
  }
}
.align-items{
  &-center{
    align-items: center;
  }
}


// backgroud color
.bg{
  &-primary{
    background-color: $bg-primary;
  }
}
// text color
.text{
  &-white{
    color: $white;
  }
  &-black{
    color: $black;
  }
}

// padding
.p{
  
}

// margin
.m{
  &e{
    &-64{
      margin-right: 64px;
    }
  }
  &y{
    &-25{
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}